<div class="ui inverted vertical footer segment">
	<div class="ui container">
		<div class="ui stackable inverted divided equal height stackable grid">
			<div class="three wide column">
				<h4 class="ui inverted header">快速导航</h4>
				<div class="ui inverted link list">
					<a href="<{:U('/download')}>" class="item">下载</a>
					<a href="<{:U('/talk')}>" class="item">讨论</a>
					<a href="<{:U('/answer')}>" class="item">问答</a>
					<a href="<{:U('/donate')}>" class="item">捐赠</a>
				</div>
			</div>
			<div class="three wide column">
				<h4 class="ui inverted header">关于我们</h4>
				<div class="ui inverted link list">
					<a href="#" class="item">sitemap</a>
					<a href="#" class="item">RSS订阅</a>
					<a href="#" class="item">网站帮助</a>
					<a href="#" class="item">友情链接</a>
				</div>
			</div>
			<div class="seven wide column">
				<h4 class="ui inverted header"><i class="copyright icon"></i>2013 - <{:date('Y')}></h4>
				<p>注意：由于目前采用了 jQuery EasyUI，因此本系统也只能使用GPL协议.</p>
				<p>本系统免费提供大家使用，但商业用途需要大家自己到easyui官网授权.</p>
				<p>后期可能会将easyui更换成其他免费协议框架</p>
			</div>
		</div>
	</div>
</div>