<a class="item <eq name='Think.CONTROLLER_NAME' value='Index'>active</eq>" href="<{:U('/')}>">首页</a>
<a class="item <eq name='Think.CONTROLLER_NAME' value='Download'>active</eq>" href="<{:U('/download')}>">下载</a>
<a class="item <eq name='Think.CONTROLLER_NAME' value='Talk'>active</eq>" href="<{:U('/talk')}>">讨论</a>
<a class="item <eq name='Think.CONTROLLER_NAME' value='Answer'>active</eq>" href="<{:U('/answer')}>">问答</a>
<a class="item <eq name='Think.CONTROLLER_NAME' value='Donate'>active</eq>" href="<{:U('/donate')}>">捐赠</a>