<!--datagrid列表-->
<table id="<{:html_id('datagrid')}>" data-menu="#<{:html_id('datagrid-menu')}>" data-toolbar="#<{:html_id('datagrid-toolbar')}>" data-title="<{$title}>" data-url="<{:U(CONTROLLER_NAME . '/' . ACTION_NAME, array('grid'=>'datagrid'))}>">
	<thead>
		<tr>
			<th data-options="field:'title',width:150,sortable:false">名称</th>
			<th data-options="field:'name',width:100,sortable:false">标识</th>
			<th data-options="field:'description',width:350,sortable:false">描述</th>
			<th data-options="field:'status_text',width:100,sortable:false">状态</th>
			<th data-options="field:'author',width:100,sortable:false">作者</th>
			<th data-options="field:'version',width:100,sortable:false">版本</th>
		</tr>
	</thead>
</table>

<!--工具栏-->
<if condition="count($toolbars) gt 0">
	<div id="<{:html_id('datagrid-toolbar')}>">
		<!--操作项-->
		<foreach name="toolbars" item="li">
			<a class="easyui-linkbutton toolbar-action" data-action="<{$li.a}>" iconCls="<{$li.icon}>" plain="true" data-href="<{:U($li['c'] . '/' . $li['a'] . '?' . $li['data'])}>"><{$li.name}></a>
		</foreach>
	</div>
</if>

<!--右键菜单-->
<if condition="count($toolbars) gt 0">
	<div id="<{:html_id('datagrid-menu')}>" class="easyui-menu">
		<foreach name="toolbars" item="li">
			<div class="menu-action" data-action="<{$li.a}>" data-href="<{:U($li['c'] . '/' . $li['a'] . '?' . $li['data'])}>" iconCls="<{$li.icon}>"><{$li.name}></div>
		</foreach>
	</div>
</if>

<script type="text/javascript">
	require(['extend/addon'], function(module){
		module.init("#<{:html_id('datagrid')}>");
	});
</script>