<meta name="robots" content="none">
<meta http-equiv="Pragma" content="no-cache">
<meta name="Author" Content="wangdong">
<title><{:strip_tags(C('SYSTEM_NAME'))}></title>
<link rel="shortcut icon" href="<{:SCRIPT_DIR}>/favicon.ico" />
<link rel="stylesheet" href="__STATIC__/js/easyui/themes/gray/easyui.css?__VERSION__">
<link rel="stylesheet" href="__STATIC__/css/font-awesome.css?__VERSION__">
<link rel="stylesheet" href="__STATIC__/css/admin.css?__VERSION__">
<link rel="stylesheet" href="__STATIC__/js/venobox/venobox.css?__VERSION__">
<link rel="stylesheet" href="__STATIC__/js/croppic/croppic.css?__VERSION__">