<div class="navbar">
	<div class="navbar-inner">
		<div class="left sliding">
			<i class="icon icon-back"></i>&nbsp;
			<a href="#" class="link back">返回</a>
		</div>
		<div class="center">系统安装</div>
		<div class="right">
			<a class="link" href="<{:U('Index/step4')}>">完成</a>
		</div>
	</div>
</div>

<div class="pages navbar-through">
	<div class="page" data-page="index-install-step3">

		<div class="page-content">
			<div class="list-block">
				<ul>
					<foreach name="tip" item="li">
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label"><{$li[0]}></div>
									<div class="item-after"><{$li[1]}></div>
								</div>
							</div>
						</li>
					</foreach>
				</ul>
			</div>
		</div>
	</div>
</div>