<div class="navbar">
	<div class="navbar-inner">
		<div class="center">安装完成</div>
	</div>
</div>

<div class="pages navbar-through">
	<div class="page no-swipeback" data-page="index-install-step4">

		<div class="page-content">
			<div class="content-block-title">你可以进行以下操作</div>
			<div class="list-block">
				<ul>
					<li>
						<a class="item-link easytp-link" href="<{:U('/')}>">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">访问前台首页</div>
									<div class="item-after">进入</div>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a class="item-link easytp-link" href="<{:U('Admin/Index/index')}>">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">访问后台管理</div>
									<div class="item-after">进入</div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>